

.list-tasks-container {
  max-width: 400px;
  margin: 20px auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #0366d6;
  font-weight: bold;
}
