

.task-details-container {
  max-width: 400px;
  margin: 20px auto;
}

button {
  background-color: #0366d6;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #034471;
}
