<div class="container">
  <h2>Create Task</h2>
  <form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="description">Task Description:</label>
      <textarea id="description" formControlName="description" class="form-control"></textarea>
      <div *ngIf="createTaskForm.get('description').hasError('required')">
        Description is required
      </div>
    </div>
    <div class="form-group">
      <label for="deadline">Deadline:</label>
      <input type="date" id="deadline" formControlName="deadline" class="form-control"/>
      <div *ngIf="createTaskForm.get('deadline').hasError('required')">
        Deadline is required
      </div>
    </div>


    <div class="form-group">
      <label for="categories">Categories:</label>
      <select id="categories" formControlName="categories" class="form-control" multiple>

        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>


    <div class="form-group">
      <label for="sub_tasks">Sub Tasks:</label>
      <input type="text" id="sub_tasks" formControlName="sub_tasks" class="form-control"/>
    </div>


    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="end_flag" formControlName="end_flag" class="form-check-input"/>
        <label for="end_flag" class="form-check-label">End Flag</label>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create Task</button>
    </div>
  </form>
</div>
